#homeSection .home-inner {
  padding-top: 120px;
  font-family: "Open Sans", sans-serif;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Julius Sans One", sans-serif;
}

#homeSection .dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1200px;
}

#homeSection {
  background: url("nasa.jpg");
  min-height: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.numbersSize {
  font-size: 30px;
}
